@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700;800&family=Poppins:wght@600&family=Roboto+Condensed&display=swap');

html, body{
    margin:0;
    padding:0;
    font-family: 'Golos Text';
    font-size: 0.95rem;
    min-height: 100vh;
    color:rgba(0,0,0,0.65);
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border-radius: 100px;
 margin-top:10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.loader{
    position:fixed;
    width:100%;
    height: 100%;
    background:#fff;
    top:0;
    z-index:10;
    display: flex;
    align-items: center;
  justify-content: center;
  display: none;
}
.noflow{
    overflow-y:hidden;
}

.off{
    display: none!important;
}

.logo{
    margin-bottom:20px;
}

#rc{
    font-size: 0.7rem;
    color:rgba(0,0,0,0.4);
}

.fullapp{
    position:relative;
    width:100%;
    height: 100%;
}

.left_menu{
    width:190px;
    vertical-align: top;
    display: inline-block;
    position:relative;
}

.left_fix{
    width:190px;
    height: 100vh;
    background:#fafbfc;
    position: fixed;
    font-weight: 700;
    border-right:1px solid #eee;
}

.active_side_nav{
    color:#000!important;
}

.left_inner{
    position:absolute;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding:0px 20px 20px 20px;
    overflow-y: hidden;
}

.nav_ul{
    margin:0;
    padding:0;
    font-weight: 400;
}

.nav_item{
    cursor:pointer;
    list-style: none;
    border-bottom:1px solid transparent;
    padding:6px 0 6px 14px;
    color:rgba(0,0,0,0.3);
   
}

.container{
    width:calc(100% - 200px);
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 300px;
}

.inner{
    width:100%;
    position:relative;
    display: block;
}

.top_nav{
    padding:20px 0 20px 20px;
    border-bottom:1px solid #eee;
    box-sizing: border-box;
    position:fixed;
    z-index:2;
    width:100%;
    background:#fff;
}

.main{
    box-sizing: border-box;
    padding:20px;
    
}

.view{
    position:relative;
}



.titleMe{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    
}

/* ==== compare ====*/


.in{
    border-radius: 0px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.2);
    width:120px;
    padding:5px;
    margin-left: 20px;
    outline:none;
}

.results{
    margin:100px 0 100px 0;
 
}

.card{
    width:250px;
    height: 174px;
    background:#fff;
    box-sizing: border-box;
    padding:10px;
    border-radius: 10px;
    /*box-shadow: 0 2px 20px rgb(0,0,0, 0.13);*/
    border:3px solid transparent;
    position:relative;
}

.micromark{
    width:24px;
    height: 24px;
    background:rgba(0,0,0,0.06);
    border-radius: 4px;
    position:absolute;
    bottom:5px;
    right:5px;
    cursor:pointer;
}

.sel{
    background:url('check.png') center center no-repeat #2369F6;
    background-size: contain;
}

.num{
    font-size: 1.2rem;
    font-weight: 400;
    color:#fff;
    position: relative;
}

.podn{
    font-size: 0.7rem;
    height: 16px;
    margin-top:4px;
    color:rgba(0,0,0,0.4);
}

.desc{
    margin:10px 0;
    height:58px;
    border-top:1px solid #eee;
    padding-top:5px;
    color:rgba(0,0,0,0.83);
    font-weight: 600;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    
}

.yep{
    background:#7cb518;
}

.date{
    color:rgba(0,0,0, 0.4);
    font-size: 0.7rem;
}

.respName{
    color:rgba(0,0,0, 0.4);
    font-size: 0.7rem;
}

.nope{
    background:#e7eaf6;
}

.t{
    color:rgba(0,0,0,1);
}

.old{
    background: #AAF09D!important;
}

.pages{
    margin-bottom: 100px;
    width:100%;
    
}

.pager{
    width:100%;
    color:rgba(0,0,0, 0.45);
    overflow-wrap: break-word;
    margin-bottom: 100px;
}

.pager span {
    margin-left: 5px;
    cursor:pointer;
}

.actv{
    color:#2369F6;
}

.flexpages{
    width:80%;
    display:flex;
    align-items: flex-start;
    align-content: flex-start;
  flex-flow: row wrap;
  gap: 2px 2px;

}

.px{
    width:24px;
    height: 24px;
    background:transparent;
    border-radius:4px;
    text-align:center;
    line-height: 20px;
    cursor:pointer;

}

.ddate{
    font-size: 0.6rem;
    right: 0px;
    text-align: right;
    top:7px;
    color:rgba(0,0,0, 0.4);
    position:absolute;
}

#res{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap:10px 10px;
    margin-bottom:20px;
    padding-top:60px;
}

ul.compareUl{
    padding:0;
    margin:0;
    display: inline-block;
    vertical-align: middle;
    width:calc(100% - 200px);
}

li.compareLi{
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    cursor:pointer;
    font-size: 0.8rem;
    
}


/*====== MAKE STICKERS========*/

.pdf{
    padding:1.5mm 0 0 2mm ;
    width:210mm;
    min-height: 297mm;
    box-sizing: border-box;
    background:#fff;
    overflow-y: hidden;
}


.one{
    width:65mm;
    height: 30mm;
    border:1px dotted #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 3mm;
    margin-right: 3mm;
    font-size: 0;
    display:inline-block;
    vertical-align:top;
    margin-bottom:2.8mm;
    position:relative;
    color:#000;
}

.l{
    width:100%;
   margin-right: 0.5mm;
    font-size: 12pt;
    display:inline-block;
    vertical-align:top;
    position:relative;
    z-index:5;
   

}

.r{
    position:absolute;
    width:21mm;
    bottom:5px;
    right:3px;
    z-index:2;
}

 
img{
    width:100%;
    height: auto;
    display: block;
    margin: auto;
}

.num{
    font-size: 14pt;
}

.anno{
    font-size: 7pt;
    height:20px;
}

.svgx{
   
}

.x{
    width:65%;
  margin-top:2px;
}

.stid{
    text-align:left;
    font-size:12pt;
    margin-top:2px;
    font-family:'Poppins';
}

.xx{
    width:210mm;
    min-height: 297mm;
    background:#fff;
    overflow-y: hidden;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.myarea{
    width:210mm;
    resize: none;
    border-radius: 6px;
    border-color:#eee;
    background:#fafbfc;
    padding:10px;
    box-sizing: border-box;
    outline:none;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.23);
}

#gen{
    border:none;
    border-radius: 6px;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #2369F6;
    color:#fff;
    width:210mm;
    margin-bottom:30px;
    margin-top:14px;
    
}

.hidegen{
    visibility: hidden;
}


#auth{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.enter{
    background:#fafbfc;
    border:1px solid #eee;
    border-radius: 10px;
    box-sizing: border-box;
    padding:50px;
}

.ix{
    margin-bottom:7px;
}

.ixi{
    outline:none;
    border-radius:6px;
    border:1px solid #ddd;
    box-sizing: border-box;
    padding: 4px;
    text-align: center;
    font-size: 20px;
}

.ixib{
    border:none;
    background:#2369F6;
    color:#fff;
    cursor: pointer;
    border-radius: 6px;
    padding: 7px;
    text-align: center;
    display: inline-block;
    width:100%;
}

.defBtn{
    border:none;
    background:#2369F6;
    color:#fff;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 40px;
    text-align: center;
    
}


.oh{
    margin:0;
    padding:0;
}

.ohli{
    list-style: none;
}

.oha{
    color:#7A1FA4;
    text-decoration: none;
}

select:focus,
    input,
    input:focus {
      font-size: 14px!important;
    }



@media screen and (max-width: 600px) {
    .enter{
        width:calc(100% - 20px);
    }
    .ixi{
        width:100%;
       
    }
    select:focus,
    input,
    input:focus {
      font-size: 16px!important;
    }
    
    .left_menu{
        display:none;
    }
    .top_nav{
        width:100%;
        background:#fafbfc;
        border-bottom:1px solid #eee;
        padding:10px;
        box-sizing: border-box;
    }
    .container{
        width:100%;
    }
    .card{
        width:100%;
    }
    .micromark{
        display: none;
    }
    ul.compareUl{
        width:100%;
    }
    li.compareLi{
        display: inline;
        margin-right: 0px;
        width:100%;
        box-sizing: border-box;
    }
    .compareLi:nth-child(5){
        display:none;
    }
    .in{
        margin-top:20px;
        margin-left: 0px;
        width:100%;
        box-sizing: border-box;
        background: transparent;
    }
    #res{
        margin-top:40px;
    }
  }

 