<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <link rel="stylesheet" href="../views/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Inventory App</title>
    <link rel="icon" href="https://www.svgrepo.com/show/509704/activity.svg">
</head>
<body id="b">
    <div class="loader">
        <div class="inloader">
            <img style="width:200px;" src="https://thumbs.gfycat.com/HugeDeliciousArchaeocete-max-1mb.gif">
        </div>
    </div>

    <div id="auth" class="off">
        <div class="enter">
            <div class="ix"><input class="ixi" type="text" id="user" value="" placeholder="username"></div>
            <div class="ix"><input class="ixi" type="password" id="pass" value="" placeholder="password"></div>
            <div class="ixb"><button class="ixib" id="authbtn">Sign In</button></div>
        </div>   
    </div>
   
    <div id="app" class="fullapp">
        <div class="left_menu">
            <div class="left_fix">
                <div class="left_inner">
                    <div class="logo">
                        <!--<img src="../views/brcl.png" alt="">-->
                    </div>
                    <div class="left_nav">
                        <ul class="nav_ul">
                            <li class="nav_item active_side_nav" id="inventory"><i class="fa fa-tag"></i>&nbsp; Inventory</li>
                            <li class="nav_item" id="createStickers"><i class="fa fa-qrcode"></i>&nbsp; Stickers</li>
                            <li class="nav_item" id="allStickers"><i class="fa fa-book"></i>&nbsp; All stickers</li>
                            <li class="nav_item" id="onPhone"><i class="fa fa-mobile"></i> Phone view</li>
                            <li class="nav_item" id="apps"><i class="fa-solid fa-shapes"></i> Mobile Apps</li>
                            <li class="nav_item" id="help"><i class="fa fa-clone"></i> Other</li>
                        </ul>
                    </div>
                </div>
            </div>    
        </div>
        <div class="container">
            
            <!--MAIN PART-->
            <div class="inner">
                
                <div class="view " id="inventory_view">
                    <div class="top_nav">
                        <ul class="compareUl">
                            <!--<li class="m compareLi" id="updt" style="color:rgba(0,0,0,0.44);">Update</li>-->
                            <li class="m compareLi actv" id="all"><i class="fa-solid fa-warehouse"></i>&nbsp; All<span id="total"></span></li>
                            <li class="m compareLi" id="not"><i class="fa-solid fa-boxes-stacked"></i>&nbsp; Not inv<span id="innot"></span></li>
                            <li class="m compareLi" id="yes"><i class="fa-solid fa-note-sticky"></i>&nbsp; Done<span id="inyes"></span></li>
                            <li class="m compareLi" id="aiging"><i class="fa-regular fa-note-sticky"></i>&nbsp; Old<span id="inaiging"></span></li>
                            <li class="compareLi" id="download"><i class="fa-solid fa-file-excel"></i>&nbsp; XLS</li>
                            <li class="compareLi"> <input class="in" type="text" id="search" placeholder="Search..." autocomplete="off"><span id="rc"></span></li>
                        </ul>
                       
                    </div>
                    <div class="main">
                        <input  id="buffer" type="text" hidden>
                        <div id="res">results</div>
                        <div class="pager flexpages" id="w"></div>
                    </div>
                </div>    
            
            
                <div class="view off" id="createStickers_view" style="overflow:hidden;">
                    
                    <div class="main">
                        <div class="titleMe">Stickers generator</div>
                        <div>
                            <textarea name="" id="area" class="myarea" rows="10" placeholder="Enter inv separated by comma"></textarea>
                        </div>
                        <div style="font-size: 0.8rem;">
                            Max 108 invnumbers
                        </div>
                        <form enctype="multipart/form-data">
                            <label class="custom-file-upload">
                                Додати з Excel файлу
                            <input id="upload" type=file   accept=".xlsx" name="files[]" size=30>
                            </label>
                        </form>
                        <div>
                            <button id="gen" class="hidegen">Generate</button>
                        </div>
                        <div class="xx" style="visibility:hidden">
                            <div class="pdf"></div>
                        </div>
                    </div>
                </div>   


                <div class="view off" id="allStickers_view">
                    
                    <div class="main" style="max-width: 800px;">
                        <div class="titleMe">All stickers maker</div>
                        <div id="stickerCount" style="margin-bottom:20px;">...</div>
                        <div>
                            <button id="genAll" class="defBtn">Yes, generate ALL stickers now</button>
                        </div>
                        <div class="allX" id="allX"></div>
                    </div>
                </div>  
                
                <div class="view off" id="onPhone_view">
                    <div class="main">
                        <div class="titleMe">Phone preview</div>
                        <iframe src="./code/U2FsdGVkX1+lmVaqCYftZwHudz80xVR2k6BubYQzFD0=" style="height: 600px;" frameborder="0"></iframe>
                    </div>
                </div> 
                
                <div class="view off" id="apps_view">
                    <div class="main">
                        <div class="titleMe">Mobile Apps</div>
                        <div>
                            <a href="../views/codescan.apk">Download Android App</a>
                        </div>
                    </div>
                </div> 

                <div class="view off" id="help_view">
                    <div class="main">
                        <div class="titleMe">Other</div>
                        <div>
                            <ul class="oh" id="helper"></ul>
                        </div>
                    </div>
                </div>  


                


            
            
            
            </div>
            <!--MAIN PART-->

        </div>
    </div>
    <script src="../views/all.js"></script>
</body>
</html>