<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/codes.css">
    <title>Code</title>
</head>
<body>
<div class="preloader">
    <img src="https://viapp.me/public/images/rainbow.svg" alt="">
</div>
<div class="err">
    Щось пішло не так<br>Спробуйте пізніше
</div>
   
    <div class="main">
        <div class="cont">
            <img class="xa" style="margin:20px auto 0 auto; display: block;" src="https://svgsilh.com/svg/306926.svg" alt="">
            
            <div id="inv" class="inv">...</div>
            <div id="details">...</div>
            <div id="person" class="person">...</div>
            <div>
                <div id="last" class="last">...</div>
                <div class="info" style="display:none">Okay. Scan next item.</div>
            </div>
            
            <div class="btn">
                <button id="mark" class="bt">Інвентаризація</button>
            </div>
        </div>
    </div>


   

   <script src="../views/codes.js"></script>
</body>
</html>