<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="codes.css">
    <title>Code</title>
</head>
<body>
<div class="preloader">
    <img src="https://viapp.me/public/images/rainbow.svg" alt="">
</div>
<div class="err">
    Something went wrong!<br>Try again
</div>
   
    <div class="main">
        <div class="cont">
            <img class="xa" style="margin:20px auto; display: block;" src="https://www.freeiconspng.com/uploads/shipping-icon-1.png" alt="">
            
            <div id="inv" class="inv">...</div>
            <div id="details">...</div>
            <div id="person" class="person">...</div>
            <div>
                <div id="last" class="last">...</div>
                <div class="info" style="display:none">Okay. Scan next item.</div>
            </div>
            
            <div class="btn">
                <button id="mark" class="bt">INVENT NOW</button>
            </div>
        </div>
    </div>


   

   <script src="codes.js"></script>
</body>
</html>