<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/compare.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script> 
    <title>compare</title>
</head>
<body>
    <div class="loader">
        <div class="inloader">
            <img style="width:200px;" src="https://thumbs.gfycat.com/HugeDeliciousArchaeocete-max-1mb.gif">
        </div>
    </div>
    <div class="main">
        <div class="top">
            <div class="intop">
                <ul>
                    <li class="m" id="updt" style="color:rgba(0,0,0,0.44);">Update now</li>
                    <li class="m actv" id="all">Total<span id="total"></span></li>
                    <li class="m" id="not">Not Inventered <span id="innot"></span></li>
                    <li class="m" id="yes">Inventered <span id="inyes"></span></li>
                    <li id="download">Export XLSX</li>
                </ul>
                 <div style="display:inline-block; vertical-align: middle;"> 
                <input class="in" type="text" id="search">
            </div>
            </div>
           
        </div>
        <div class="results">
            <div class="inner" id="res">results</div>
        </div>
        <div class="pages">
            <div class="inner ">
                <div class="pager flexpages" id="w"></div>
            </div>
        </div>
    </div>

    <script src="../views/compare.js"></script>
</body>
</html>