<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="http://localhost:3000/code/U2FsdGVkX1+lmVaqCYftZwHudz80xVR2k6BubYQzFD0=">Code on phone preview</a></li>
        <li><a href="http://localhost:3000/makestickers">Sticker creator</a></li>
        <li><a href="http://localhost:3000/sticker">Create ALL stickers (+ with QR and BAR | DANGER)</a></li>
        <li><a href="http://localhost:3000/sticker/">Create ALL stickers ( DANGER)</a></li>
        <li><a href="http://localhost:3000/views/filename_125-merged.pdf">All stickers sample (PDF)</a></li>
        <li><a href="https://smallpdf.com/merge-pdf">Merge PDF</a></li>
        <li><a href="https://studio.harperdb.io/o/2da4a20d/i/compute-stack-2da4a20d-1617638214557/browse/FIN/inventory">Harper DB</a></li>
        <li><a href="#">Data compare (in dev)</a></li>
    </ul>
</body>
</html>