<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>By one</title>
    <link rel="stylesheet" href="../views/makestickers.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>
<body>
    <div class="main">
        <div class="top">
            <h1>Create stickers</h1>
            <div>
                <textarea name="" id="area" class="myarea" rows="10" placeholder="Enter inv separated by comma"></textarea>
            </div>
            <div>
                Max 176 invnumbers
            </div>
            <div style="margin-top:30px;">
                <button id="gen">Generate</button>
            </div>
       </div>
        


        <div class="xx">
            <div class="pdf"></div>
        </div>
    </div>

    <script src="../views/makestickers.js"></script>
</body>
</html>