<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600;700;800&display=swap" rel="stylesheet">
    <title>OK</title>
    <style>
        html, body{
            padding:0;
            margin:0;
            background:#000;
            
    color:rgba(255,255,255,0.4);
    font-family: 'Golos Text';
        }

        .next{
            display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
        }
        
    </style>
</head>
<body>
    <div class="next">Scan barcodes <br>0910 only</div>
    
    
</body>
</html>